{% extends "base.html" %}

{% block head_title %}Address List{% endblock head_title %}

{% block content %}




<br>
<h1> My Address list </h1> <br>
<a href="{% url 'cart:create_address' %}" class="btn btn-default">Add Address</a>

<br>
<div class="row">
<div class="container">        
  <table class="table table-hover">
    <tbody>
     
      	{% for x in add_list %}
        <tr>
        <td><h4>{{x.name}}</h4></td>
        <td><a href="{% url 'cart:address_edit' slug=x.slug %}" class="btn btn-outline-primary">Edit Address</a></td>
        <td><a href="{% url 'cart:address_delete' slug=x.slug %}" class="btn btn-danger">Delete</a></td>
        </tr>
         {% endfor %}
         
    </tbody>
  </table>
</div>



  {% endblock content %}



