{% extends "base.html" %}


{% block head_title %}Admin{% endblock head_title %} 

{% block content %}



<div class="col-md-9 ">
<h1> Contents </h1>
<div><br><br>


<div class="row">
    <div class="col-md-6 ">
    <div class="thumbnail">
    <div class="caption">
    <center>
        {% if request.user.is_staff or request.user.is_superuser %}
        <p>
        <h2> Beans  
        <a href="{% url 'coffee_bean:bean_list' %}" class="btn btn-default">Go</a></h2>
        Add, Edit or Delete Beans
        <br><br>
        <h2> Syrups 
        <a href="{% url 'coffee_bean:syrup_list' %}" class="btn btn-default">Go</a></h2>
        Add, Edit or Delete Syrups
        <br><br>
        <h2> Powders 
        <a href="{% url 'coffee_bean:powder_list' %}" class="btn btn-default">Go</a></h2>
        Add, Edit or Delete Powders
        <br><br>
        <h2> Roasts
        <a href="{% url 'coffee_bean:roast_list' %}" class="btn btn-default">Go</a></h2>
        Add, Edit or Delete Roasts
        <br><br>
        </p>
        {% endif %}
    <center>
    </div>
    </div>
    </div>


    <div class="col-md-6">
    <center>
    <div class="thumbnail">
    <div class="caption">
        <p>
            <h2> Add Cities
            <a href="{% url 'coffee_bean:city_create' %}" class="btn btn-default">Go</a></h2>
            <h2> City List
            <a href="{% url 'coffee_bean:city_list' %}" class="btn btn-default">Go</a></h2>
        </p>
    <center>
    </div>
    </div>
    </div>
<div>


{% endblock %}