{% extends "base.html" %}
{% block head_title %}Coffee List{% endblock head_title %}
{% block content %}


<br>
<h1>My Coffee List</h1><br><br>
<div class="row">
{% for x in my_list %}
  <div class="col-sm-6 ">
    <div class="thumbnail">
      <div class="caption">
        <h3>Name: {{x.name}} || Price: {{x.price}} </h3>
        
        <p>
        <a href="{{x.get_absolute_url}}" class="btn btn-outline-primary">View</a> 

        {% if request.user.is_staff or request.user.is_superuser or 'request.user==username' %} 

        <a href="{% url 'coffee_bean:coffee_edit' slug=x.slug %}" class="btn btn-outline-warning">Edit</a>
      
        <a href="{% url 'coffee_bean:coffee_delete' slug=x.slug %}" class="btn btn-outline-danger">Delete</a>

        {% endif %}
        

        <form action="{% url 'cart:mycart' %}" method="GET">
          <input type="hidden" name="item" value="{{x.id}}">
          <input type="number" name="qty" value="1">
          <input type="submit" name="btn btn-success" value="Add to cart">
         </form>
        </p>
      </div>
    </div>
  </div>
 {% endfor %}
 {% endblock content %}


   {% block form %}
      <form class="form-inline" action="{% url 'coffee_bean:my_coffee' %}" method="Get">
      <a href="{% url 'coffee_bean:coffee_create' %}" class="btn">Create Coffee</a>
      <input class="form-control nav-buttons" type="text" name="q" placeholder="Search Coffee Here" value="{{request.GET.q}}" aria-label="Search">
      <button class="btn btn-outline-success nav-buttons" type="submit">Search</button>
      <a href="?page={{ my_coffee.number }}" class="btn btn-outline-success">Clear Search</a>
    </form>

  {% endblock form %}

