


<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{% url 'coffee_bean:coffee_list' %}">Coffee Shop</a>
<span class="navbar-toggler-icon"></span>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class="navbar-nav">
	  <li class="nav-item active">
		<a class="nav-link" href="{% url 'coffee_bean:coffee_create' %}">Create Coffee</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Features</a>
	  </li>
	
	  {% block form %}
	  	
	  {% endblock form %}






	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Admin
		</a>
		{% if request.user.is_staff or request.user.is_superuser %}
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  <a class="dropdown-item" href="{% url 'coffee_bean:admin_home' %}">Admin Home</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="{% url 'coffee_bean:bean_list' %}">Beans</a>
		  <a class="dropdown-item" href="{% url 'coffee_bean:syrup_list' %}">Syrups</a>
		  <a class="dropdown-item" href="{% url 'coffee_bean:powder_list' %}">Powders</a>
		  <a class="dropdown-item" href="{% url 'coffee_bean:roast_list' %}">Roasts</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="{% url 'coffee_bean:city_create' %}">add a city</a>
		</div>
		{% endif %}
	  </li>


	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  {{request.user}}
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  <a class="dropdown-item" href="{% url 'coffee_bean:coffee_create' %}">Create Coffee</a>
		  <a class="dropdown-item" href="{% url 'coffee_bean:my_coffee' %}">My Coffee List</a>
		  <a class="dropdown-item" href="{% url 'coffee_bean:address' %}">My Adress</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="{% url 'coffee_bean:logout' %}">Logout</a>
		</div>
	  </li>
	</ul>
   </div>
</nav>


