{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block head_title %}Powder Create{% endblock head_title %}
{% block content %}
{% include "navbar.html" %}
<br><br>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

	<h1> Create Powder </h1>
	<br><br>

	<form method="POST" action="{% url 'coffee_bean:powder_create' %}" enctype="multipart/form-data">

		{% csrf_token %}
		{{form|crispy}}
		
	
		<input type="submit" value="Create Powder">

	</form>
	</div>
	</div>

{% endblock %}