{% extends "base.html" %}


{% block head_title %}Roast List{% endblock head_title %}

{% block content %}


<br>
<h1> Roast List </h1>
<br>
<div class="row">

{% for x in roast_list %}
  <div class="col-sm-6 ">
    <div class="thumbnail">
      <div class="caption">
        <h3>Roast: {{x.name}} Price: {{x.price}} </h3>
        
        <p>
        <a href="{{x.get_absolute_url}}" class="btn btn-primary">View</a> 
        
        <a href="{% url 'coffee_bean:roast_edit' slug=x.slug %}" class="btn btn-success">Edit</a>
        
        <a href="{% url 'coffee_bean:roast_delete' slug=x.slug %}" class="btn btn-danger">Delete</a>
		
        </p>
      </div>
    </div>
  </div>
 {% endfor %}
 {% endblock content %}


 {% block form %}
      <a href="{% url 'coffee_bean:roast_create' %}" class="btn">Create roast</a>
      <form class="form-inline" action="{% url 'coffee_bean:roast_list' %}" method="Get">
      <input class="form-control nav-buttons" type="text" name="q" placeholder="Search roasts Here" value="{{request.GET.q}}" aria-label="Search">
      <button class="btn btn-outline-success nav-buttons" type="submit">Search</button>
      <a href="?page={{ roast_list.number }}" class="btn btn-outline-success">Clear Search</a>
      
    </form>
{% endblock form %}